$color-primary: #e53935;           // الأحمر الرئيسي
$color-accent: #ff7043;           // لون التفاعل / الهوف
$color-secondary: #1e1e1e;        // للعناوين أو خلفيات ثانوية
$color-neutral: #f5f5f5;          // خلفيات فاتحة
$color-white: #ffffff;            // أبيض
$color-bg-dark: #121212;          // خلفية الوضع الداكن
$color-text-dark: #e0e0e0;        // نصوص في الوضع الداكن


$theme-margarita: (
  primary: #e53935,
  accent: #ff7043
);

$theme-veggie: (
  primary: #4CAF50,
  accent: #81C784
);

$theme-chicken: (
  primary: #ff9800,
  accent: #ffb74d
);



:root {
  --bg-color: #f5f5f5;
  --text-color: #1e1e1e;
  --card-bg: #ffffff;
  --btn-bg: #e53935;
  --btn-text: #ffffff;
  --accent-color: #ff7043;
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --card-bg: #1e1e1e;
  --btn-bg: #e53935;
  --btn-text: #ffffff;
  --accent-color: #ff7043;
}

$theme-about: (
  primary: $color-primary,  
  accent:  $color-accent
);
